.card{
    cursor: pointer;
}

.pokemon-list{
    background-color: white;
    min-height: 300px;
    border-radius: 15px;
}

.pokemon-card-favorite{
    background-color: #ffd7d4;
    border: 1px solid red;
}