<div class="pokemon-list mb-5">
    <div class="row">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let pokemon of pokemons">
            <div [ngClass]="checkFavorite(pokemon.name) ? {'pokemon-card-favorite': true} : {'pokemon-card-favorite': false}" class="card text-center m-3" [routerLink]="['/pokemon',pokemon.id]">
                <img class="mx-auto" style="width: 100px; height:100px;" src="{{pokemon.sprite}}" alt="pokemon.name">
                <div class="card-body">
                    <h5>#{{pokemon.id}} - {{pokemon.name | titlecase }}</h5>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row d-flex justify-content-center">
    <button *ngIf="!previousPage.isNull" type="button" class="col-4 mr-3 col-sm-2 mr-sm-3 btn btn-primary" (click)="changePage(previousPage.offset,previousPage.limit)">Previous</button>
    <button *ngIf="!nextPage.isNull" type="button" class="col-4 ml-3 col-sm-2 ml-sm-3 btn btn-primary" (click)="changePage(nextPage.offset,nextPage.limit)">Next</button>
</div>