<div [ngClass]="checkFavorite ? 'pokemon-favorite' : 'pokemon-details'" class="p-3 mb-4">
    <div *ngIf="theresNoError" class="text-center">
        <div class="d-flex justify-content-end">
            <button class="btn btn-favorite btn-link" (click)="checkFavorite ?  unfavorite(pokemonInfo.name) : favorite(pokemonInfo.id, pokemonInfo.name)">
                <img *ngIf="!checkFavorite" src="../../assets/favorite.svg" alt="Favorite">
                <img *ngIf="checkFavorite" src="../../assets/unfavorite.svg" alt="Unfavorite">
            </button>
        </div>
        <h2>#{{pokemonInfo.id}} - {{pokemonInfo.name | titlecase}}</h2>
        <img style="width: 200px; height: 200px;" src="{{pokemonInfo.sprite}}" alt="{{pokemonInfo.name | titlecase }}">
        <div class="row mt-4 mb-4">
            <div class="col-12">
                <h3>Type(s):</h3>
            </div>
            <div *ngFor="let type of pokemonInfo.types" class="col mt-4">
                <h4 class="type {{type}} d-inline">{{type | titlecase}}</h4>
            </div>
        </div>
        <hr style="width: 60%;">
        <div class="row mt-5 mb-5">
            <div class="col">
                <h4>Height: {{pokemonInfo.height / 10}} m</h4>
            </div>
            <div class="col">
                <h4>Weight: {{pokemonInfo.weight / 10}} kg</h4>
            </div>
        </div>
    </div>

    <div *ngIf="!theresNoError" class="p-5 text-center">
        <div class="p-4">
            <h1 class="mb-5">Pokémon not found!</h1>
            <p>You used a wrong number or wrote an inexisting Pokémon name.</p>
            <p>You can try another search or go back to the main page.</p>
        </div>
    </div>
</div>

<div class="row d-flex justify-content-center">
    <button class="btn btn-lg btn-primary" [routerLink]="['']" fragment="continue">Back</button>
</div>