.pokemon-details{
    background-color: white;
    min-height: 300px;
    border-radius: 15px;

}

.type{
    padding: 6px 24px;
    height: 50px;
    width: 150px;
    border-radius: 15px;
}

.fire{
    background-color: red;
    color: yellow;
}

.flying{
    background-color: lightskyblue;
    color: whitesmoke;
}

.grass{
    background-color: darkgreen;
    color: lightgreen;
}

.water{
    background-color: blue;
    color: lightskyblue;
}

.ice{
    background-color: paleturquoise;
    color: gray;
}

.psychic{
    background-color: darkmagenta;
    color: lightpink;
}

.dragon{
    background-color: lightsalmon;
    color: turquoise;
}

.bug{
    background-color: limegreen;
    color: linen;
}

.normal{
    background-color: tan;
    color: whitesmoke;
}

.fairy{
    background-color: palevioletred;
    color: white;
}

.poison{
    background-color: purple;
    color: greenyellow;
}

.ground{
    background-color: brown;
    color: burlywood;
}

.ghost{
    background-color: slateblue;
    color: silver;
}

.steel{
    background-color: gray;
    color: lightgray;
}

.electric{
    background-color: gold;
    color: white;
}

.dark{
    background-color: black;
    color: white;
}

.fighting{
    background-color: brown;
    color: lightcoral;
}

.rock{
    background-color: brown;
    color: white;
}